@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.form_btn {
  background: rgb(12, 109, 118);
  background: linear-gradient(
    90deg,
    rgba(12, 109, 118, 1) 0%,
    rgba(55, 184, 195, 1) 80%,
    rgba(12, 109, 118, 1) 100%
  );
  height: 42px;
  border-radius: 32px;
  box-shadow: "0px 4px 4px 0px rgba(0, 0, 0, 0.15)";
  font-weight: bold;
  color: #fff;
}
.gradient-fade {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 100%),
    rgba(255, 255, 255, 0%)
  );
}
