@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.form_btn {
  background: rgb(12, 109, 118);
  background: linear-gradient(
    90deg,
    rgba(12, 109, 118, 1) 0%,
    rgba(55, 184, 195, 1) 80%,
    rgba(12, 109, 118, 1) 100%
  );
  height: 42px;
  border-radius: 32px;
  box-shadow: "0px 4px 4px 0px rgba(0, 0, 0, 0.15)";
  font-weight: bold;
  color: #fff;
}
.gradient-fade {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 100%),
    rgba(255, 255, 255, 0%)
  );
}
.box_shadow_gen {
  -webkit-box-shadow: inset 0px -9px 0px -1px #8b96a1;
  box-shadow: inset 0px -9px 0px -1px #8b96a1;
  border-radius: 21px;
}
.record_table_rows {
  position: relative;
}
.record_table_rows::after {
  content: "";
  background-image: url(/records/Vectorhorizental.png);
  background-size: auto 100%;
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  right: 9.1%;
}
.record_table_rows::before {
  content: "";
  background-image: url(/records/Vectorhorizental.png);
  background-size: auto 100%;
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  right: 43.45%;
  z-index: 10;
}
.table_row_Seperator {
  background-image: url(/records/Vectorhorizental.png);
  background-color: rgba(255, 255, 255, 0) !important;
  background-size: auto 100%;
  position: absolute !important;
  height: 100%;
  width: 10px;
  top: 0;
  right: 60.63%;
  z-index: 10;
}

.record_table_rows > div {
  position: relative;
}
.record_table_rows > div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/records/Vector.png);
  background-size: 100% auto;
  width: 100%;
  height: 8px;
}
.record_table_rows > div:nth-child(odd) {
  background-color: #c0272d;
}
.record_table_rows > div:nth-child(even) {
  background-color: #ad1c22;
}
